:root {
    --primary-color: #ED8335;
    --primary-color-dark: #f19a37;
    --primary-button-color: #ED8335;
    --primary-button-color-hover: #111717;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #ffffff;
}